# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/eslint
/.eslintcache
/.cache
/.next
/.nuxt
/.nuxtignore        
/.nuxt.config.js
/.nuxt/dist
/.nuxt/standalone
/Readme.md
/vitest.config.ts
/eslint.config.js
/vite.config.js
/frontend/components/BlogList.jsx
/frontend/components/BlogCard.jsx
/frontend/styles/Blog.css
/frontend/pages/Blog.jsx
/frontend/services/blogService.js